<h1 class="text-center">Les restaurants</h1>
<% @restaurants.each do |restaurant| %>
  <div class="card">
    <%= link_to restaurant_path(restaurant), class: "fill-div" do %>
      <%= restaurant.name %>
      <%= link_to restaurant_path(restaurant), method: :delete do %>
        <i class="fa fa-times pull-right" aria-hidden="true"></i>
      <% end %>
    <% end %>
  </div>
<% end %>
<br>
<div class="text-center">
<%= link_to "Créer un restaurant", new_restaurant_path, class: "btn btn-danger" %>
</div>
