<h1 class="text-center">Les restaurants</h1>
<div class="list-group text-center">
<% @restaurants.each do |restaurant| %>
  <%= link_to restaurant.name, restaurant_path(restaurant), class: "list-group-item" %>
<% end %>
<br>
<%= link_to "Créer un restaurant", new_restaurant_path, class: "btn btn-danger" %>
</div>
